---

---

<!-- <footer>
	<div class="footer-content">Iván.</div>
</footer>

<style>
	footer {
		background-color: var(--neutral-90);
		color: var(--text-color-light);
		text-align: center;
		padding: 3rem 0 1rem;
	}
</style> -->