<nav class="container">
	<ul>
		<li>
			<a href="/#">About</a>
		</li>
		<li>
			<a href="/#work">Work</a>
		</li>
		<li>
			<a href="/#speaking">Speaking</a>
		</li>
		<!-- <li>
			<a href="/newsletter">Newsletter</a>
		</li> -->
		<li>
			<a href="/#contact">Contact</a>
		</li>
	</ul>
</nav>

<style>
	nav {
		padding: 1rem;
		margin: 1rem auto;
		position: sticky;
		top: 0;
		display: flex;
		place-content: center;
		transition: 400ms ease-in-out transform;
	}

	nav.scroll-down {
		transform: translateY(-100%) scale(0.9);
;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 1rem;
		display: flex;
		gap: 1rem;
		justify-content: center;
		background-color: hsl(0 0% 100% / 0.4);
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		border-radius: 100vw;

		@media (prefers-color-scheme: dark) {
			background-color: hsl(0 0% 0% / 0.4);
		}
	}

	a {
		text-decoration: none;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 0.1ch;
	}

</style>

<script>
	const nav = document.querySelector('nav');
	let prevScrollPos = window.pageYOffset;
	if (nav) {
	window.addEventListener('scroll', function() {
		let currentScrollPos = window.pageYOffset;
		if (currentScrollPos > 150) {
			if (prevScrollPos > currentScrollPos) {
				nav.classList.remove('scroll-down');
			} else {
				nav.classList.add('scroll-down');
			}
			prevScrollPos = currentScrollPos;
		} else {
			nav.classList.remove('scroll-down');
		}

	});
	}
</script>