---
import '@barcia/corecss'
import Footer from '../components/sections/Footer.astro'
import Nav from '@/components/Nav.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class='container'>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  }

  :root {
    --neutral-100: hsl(0 0% 100%);
    --neutral-95: hsl(0 0% 95%);
    --neutral-90: hsl(0 0% 90%);
    --neutral-80: hsl(0 0% 80%);
    --neutral-70: hsl(0 0% 70%);
    --neutral-60: hsl(0 0% 60%);
    --neutral-50: hsl(0 0% 50%);
    --neutral-40: hsl(0 0% 40%);
    --neutral-30: hsl(0 0% 30%);
    --neutral-20: hsl(0 0% 20%);
    --neutral-10: hsl(0 0% 10%);
    --neutral-5: hsl(0 0% 5%);
    --neutral-0: hsl(0 0% 0%);

    --text-color-main: var(--neutral-10);
    --text-color-light: var(--neutral-50);
    --bg: var(--neutral-95);

    font-family: 'Inter Variable', sans-serif;

    /* @media (prefers-color-scheme: dark) {
      --text-color-main: var(--neutral-90);
      --text-color-light: var(--neutral-70);
      --bg: var(--neutral-0);
    } */
  }

  html {
    color: var(--text-color-main);
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background-color: var(--bg);
  }

  * {
    scroll-margin-block: 82px;
  }

  a {
    color: inherit;
  }

  p {
    line-height: 1.5;
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 1.1rem;
    }
  }
  .container {
    max-width: 72ch;
    margin: 0 auto;
    padding: 0 1rem;
  }
</style>
